@model IEnumerable<WebServer.Models.Comment>

@{
    ViewData["Title"] = "Index";
}


<h1>Comment Section</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>



@*@{
        var sum = 0;
        var counter = 0;
        foreach (var item in Model)
            {
                sum += item.Rating;
                ++counter;
            }
        var avg = sum / counter;
  }*@

<p>
   <dl class="row">
                <dd class="col-sm-2">Rating average: </dd>
                    <dd class="col-sm-10">
                        @ViewBag.RatingAvg
                    </dd>
                </dl>
</p>

<head>
    <link rel="stylesheet" href="search.css">
    <script src="https://kit.fontawesome.com/7f6d2012d0.js"></script>
</head>

<div class="search-container">
            <form class="search-bar" id="search-for">
           <input class="search-input" name="query" id="search" placeholder="search any thing" />
           <button type="submit">  <i class="fas fa-search"></i></button>
           </form>
</div>


<div class="comment-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="body-search">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="comment-name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="comment-content">
                        @Html.DisplayFor(modelItem => item.Feedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script type="text/html" id="template">
        <tr>
            <td>
                {name}
            </td>
            <td>
                {feedback}
            </td>
            <td>
                {rating}
            </td>
            <td>
                {time}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{id}">Edit</a> |
                <a asp-action="Details" asp-route-id="{id}">Details</a> |
                <a asp-action="Delete" asp-route-id="{id}">Delete</a>
            </td>
        </tr>
    </script>
    <script src="~/js/search.js"></script>
 }

