@model IEnumerable<WebServer.Models.Comment>

@{
    ViewData["Title"] = "Index";
}


        <h1>Comment Section</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="comment-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.feedback)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.time)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="comment-name">
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td class="comment-content">
                                @Html.DisplayFor(modelItem => item.feedback)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.time)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.id">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
