@model IEnumerable<WebServer.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Comment Section</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<head>
    <link rel="stylesheet" href="search.css">
    <script src="https://kit.fontawesome.com/7f6d2012d0.js"></script>
</head>

<div class="search-container">
        <form action="https://www.google.com/search" method="get" class="search-bar" traget="_blank">
            <input type="text" placeholder="search any thing" name="q">
            <button type="submit">  <i class="fas fa-search"></i></button>
        </form>
</div>



<div class="comment-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.feedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="comment-name">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td class="comment-content">
                        @Html.DisplayFor(modelItem => item.feedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.time)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>