@model IEnumerable<WebServer.Models.Comment>

@{
    ViewData["Title"] = "Index";
}


<h1>Comment Section</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<head>
    <link rel="stylesheet" href="search.css">
    <script src="https://kit.fontawesome.com/7f6d2012d0.js"></script>
</head>

<div class="search-container">
        <form asp-action="Search" class="search-bar">
            <input class="search-input" name="query" id="search" placeholder="search any thing" />
            <button type="submit">  <i class="fas fa-search"></i></button>
        </form>
</div>



<div class="comment-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="comment-name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="comment-content">
                        @Html.DisplayFor(modelItem => item.Feedback)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/html" id="template">
        <tr>
            <td>
                {Name}
            </td>
            <td>
                {Feedback}
            </td>
            <td>
                {Rating}
            </td>
            <td>
                {Time}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{Name}">Edit</a>
                <a asp-action="Details" asp-route-id="{Name}">Details</a>
                <a asp-action="Delete" asp-route-id="{Name}">Delete</a>
            </td>
        </tr>
    </script>
    <script src="~/js/search.js"></script>
 }
